---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
		main {
			width: 100%;
			max-width: 1100px;
		}
		ul {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 1.5rem;
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		ul li * {
			text-decoration: none;
			transition: 0.2s ease;
		}
		ul li img {
			width: 100%;
			aspect-ratio: 2 / 3;
			object-fit: cover;
			margin-bottom: 0.5rem;
			border-radius: 12px;
		}
		ul li a {
			display: block;
		}
		.title {
			margin: 0;
			color: rgb(var(--black));
			line-height: 1.2;
			font-size: 1.1rem;
		}
		.date {
			margin: 0;
			color: rgb(var(--gray));
			font-size: 0.9rem;
		}
		ul li a:hover .title,
		ul li a:hover .date {
			color: rgb(var(--accent));
		}
		ul a:hover img {
			box-shadow: var(--box-shadow);
		}
		@media (max-width: 900px) {
			ul {
			grid-template-columns: repeat(2, 1fr);
			}
		}
		@media (max-width: 560px) {
			ul {
			grid-template-columns: 1fr;
			}
		}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`/blog/${post.id}/`}>
									<img width={720} height={360} src={post.data.heroImage} alt="" />
									<h4 class="title">{post.data.title}</h4>
									<p class="date">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
